@media (max-width: 767px) {
    .section__buttonsContainer {
        align-self: center;
    }
}

.section__button {
    border: none;
    background-color: #fff;
    color: teal;
    transition: 0.2s;
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

.section__button:active {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: #ddd;
}